@import '../plugins/bulma/bulma.sass';

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

$font-Montserrat: Montserrat;
$font-OpenSans: OpenSans;

$font-sz52: 5.2rem;
$font-sz32: 3.2rem;
$font-sz16: 1.6rem;
$font-sz15: 1.5rem;
$font-sz14: 1.4rem;
$font-sz13: 1.3rem;
$font-sz12: 1.2rem;

* {
    margin: 0;
    padding: 0;
    font-family: $font-OpenSans;
}

html {
    font-size: 10px;
}

input,
button {
    outline: none !important;
    border-radius: 0 !important;
    font-size: $font-sz16 !important;
}

button {
    border: none;
    font-family: $font-OpenSans;
    font-size: $font-sz16;
    font-weight: 700;
    color: #ffffff;
    background-color: #fd4f32;
}

input:active,
button:active,
input:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

button:hover {
    cursor: pointer;
    background-color: #eb2d0d !important;
}


input::placeholder {
    font-family: $font-OpenSans;
    font-weight: none;
    font-size: $font-sz16;
}

.header {
    position: relative;
    background-color: #EEEEEE;

    .header__background {
        width: 100%;
    }

    .header__navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // padding-top: 3rem;
        // padding-left: 10rem;
        // padding-right: 10rem;

        @include mobile {
            padding-top: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;

        }

        @include tablet {
            padding-top: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @include desktop {
            padding-top: 3rem;
            padding-left: 10rem;
            padding-right: 10rem;

        }

        @include widescreen {
            padding-top: 3rem;
            padding-left: 10rem;
            padding-right: 10rem;

        }

        @include fullhd {
            padding-top: 3rem;
            padding-left: 10rem;
            padding-right: 10rem;
        }

        .navbar-brand {
            display: inline-block;

            .header__navbar--logo {
                width: 2rem;
                height: 2rem;
            }

            .header__navbar--my-brand {
                $sz: $font-sz32;
                font-family: $font-OpenSans;
                font-weight: 300;
                font-size: $sz;
                height: $sz;
                line-height: $sz;
                white-space: nowrap;
                padding-left: 1.25rem;
                color: #f4f3ee;
            }



        }

        .navbar--menu {
            float: right;

            .menu-icon {
                font-size: $font-sz32;
                color: #f4f3ee;
            }
        }

        .navbar--menu:hover {
            cursor: pointer;
            i{
                color: #dfe4ea;

            }
        }

    }

    .header__search {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .search--text {
            @include mobile {
                font-size: 30px;
            }

            @include tablet {
                font-size: 40px;
            }

            @include desktop {
                font-size: 45px;
            }

            @include widescreen {
                font-size: 52px;
            }

            @include fullhd {
                font-size: 52px;
            }

            font-family: $font-OpenSans;
            font-weight: 300;
            text-align: center;
            margin-bottom: 20px;
            color: #f4f3ee;
        }

        .search-bar {
            height: 40px;
            width: 450px;
            max-width: 90%;
            margin: auto;

            .search-input {
                height: 100%;
                border: none;
            }

            .search-button {
                height: 100%;
                width: 100px;

            }


        }

    }
}


.top-destinations {
    background-color: #EEEEEE;
    padding-top: 70px;
    padding-bottom: 70px;


    .top-destinations__text {
        padding-left: 2rem;
        padding-bottom: 3rem;

        h3 {
            font-size: $font-sz16;
            color: #323232;
            font-family: $font-Montserrat;
            font-weight: normal;
        }

        p {
            font-family: $font-OpenSans;
            font-size: $font-sz15;
            font-weight: normal;
            color: #8b8b8b;
        }
    }


    .top-destinations__image-group {

        img {
            width: 100%;
            margin: 0;
        }

        .text {
            margin: 0;
            padding: 20px;

            h3.destination {
                font-size: $font-sz14;
                margin-bottom: 10px;
                font-family: $font-Montserrat;
                font-weight: normal;
            }

            p.describe {
                font-size: $font-sz13;
                font-family: $font-OpenSans;
                font-weight: normal;

            }
        }

        .columns {
            .column {
                @include mobile {
                    margin: 20px auto;
                }

                @include tablet {
                    margin: 20px auto;
                }

                @include desktop {
                    margin: 10px auto;
                }

                padding: 0;
                background-color: #FFFFFF;

                .filter {
                    position: relative;

                    .price {
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;
                        font-family: $font-Montserrat;

                        font-size: 20px;
                        font-weight: normal;
                        color: #FFFFFF;
                    }
                }

            }

        }


    }
}


.before-you-leave {
    padding-top: 70px;
    padding-bottom: 70px;

    .before-you-leave__text {
        color: #323232;
        font-size: $font-sz52;
        padding-bottom: 3rem;
        font-family: $font-OpenSans;
        font-weight: 300;
        padding-left: 2rem;
    }

    .before-you-leave__services {

        .column {
            padding: 2rem 4rem;

            .service {
                font-size: $font-sz16;
                padding-bottom: 0.5rem;
                color: #323232;
                font-family: $font-Montserrat;
                font-weight: normal;
            }

            .describe {
                font-size: $font-sz15;
                font-family: $font-OpenSans;
                color: #8b8b8b;
            }
        }
    }

    .before-you-leave__subscribe {

        .subscribe--text {
            font-family: $font-Montserrat;
            font-weight: normal;
            font-size: $font-sz16;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 20px;
            color: #323232;
        }

        .subscribe--bar {
            height: 40px;
            width: 650px;
            max-width: 90%;
            margin: auto;

            .email-input {
                height: 100%;
                margin: 1rem 0;
                border: 1px solid #bdc3c7;
            }


            .subscribe-button {
                height: 100%;
                margin: 1rem 0;
                width: 150px;
                font-size: $font-sz16;
                font-family: $font-OpenSans;
                font-weight: 700;
                background-color: #fd4f32;
                color: #FFFFFF;
            }
        }
    }
}


.footer {
    background-color: #EEEEEE;
    padding: 30px;

    .copyright {
        font-family: $font-OpenSans;
        font-weight: normal;
        font-size: $font-sz14;
    }

    .items {
        float: right;

        li {
            display: block;
            float: left;
            font-family: $font-Montserrat;
            font-size: $font-sz14;
            font-weight: normal;
            margin-right: 1.4rem;
        }
    }
}